<div class="headbar">
	<div class="position"><span>积分</span><span>></span><span>积分管理</span><span>></span><span>积分列表</span></div>
	<div class="operating">
		<a href="javascript:;"><button class="operating_btn" type="button" onclick="window.location='{url:/points/point_add}'"><span class="addition">添加积分</span></button></a>
		<!-- <a href="javascript:;"><button class="operating_btn" type="button" title="批量设置" alt="批量设置" name="_goodsCategoryButton"><span class="remove">批量设置</span></button></a> -->
		{set:plugin::trigger('goodsCategoryWidget',array("name" => "parent_id","callback" => "setCat"))}
	</div>
</div>

<form action="{url:/goods/category_sort}" method="post" name="category_list">
<div class="content">
	<table id="list_table" class="list_table">
		<colgroup>
			<col width="120px" />
			<col width="120px" />
			<col width="120px" />
			<col width="150px" />
			<col width="150px" />
			<col width="120px" />
			<col width="120px" />
			<col width="120px" />
		</colgroup>

		<thead>
			<tr>
				<th>期数</th>
				<th>目标积分</th>
				<th>完成积分</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>状态</th>
				<th>是否完成</th>
				<th>操作</th>
			</tr>
		</thead>
		{foreach:items = $this->pointHandle->find()}
				<tr>
					<!-- <td><input name="id[]" type="checkbox" value="{$item['sum_id']}" /></td> -->
					<td>{$item['sum_num']}</td>
					<td>{$item['sum_point']}</td>
					<td>
						{if:$item['sum_status'] == 2}
						{$item['user_points']}
						{else:}
						<font color="red">[活动结束后显示]</font>
						{/if}
					</td>
					<td>{$item['start_time']}</td>
					<td>
						{if:$item['end_time'] == '0000-00-00 00:00:00'}
						未结束
						{else:}
						{$item['end_time']}
						{/if}
					</td>
					<td>
						{if:$item['sum_status'] == 0}
						未开始
						{elseif:$item['sum_status'] == 1}
						<font color="red"><b>正在进行中...</b></font>
						{else:$tiem['sum_status'] == 2}
						已结束
						{/if}
					</td>
					<td>
						{if:$item['user_points'] >= $item['sum_point']}
						<font color="green"><b>本期完成</b></font>
						{else:}
						<font color="red">未完成目标值</font>
						{/if}
					</td>
					<td>
						<a href="">【查看】</a>&nbsp;||&nbsp;
						<a href="">【删除】</a>
					</td>
				</tr>
		{/foreach}
	</table>
</div>
</form>

<script language="javascript">
//折叠展示
function displayData(_self)
{
	if(_self.alt == "关闭")
	{
		jqshow($(_self).parent().parent().attr('id'), 'hide');
		$(_self).attr("src", "{skin:images/admin/open.gif}");
		_self.alt = '打开';
	}
	else
	{
		jqshow($(_self).parent().parent().attr('id'), 'show');
		$(_self).attr("src", "{skin:images/admin/close.gif}");
		_self.alt = '关闭';
	}
}

function jqshow(id,isshow) {
	var obj = $("#list_table tr[parent='"+id+"']");
	if (obj.length>0)
	{
		obj.each(function(i) {
			jqshow($(this).attr('id'), isshow);
		});
		if (isshow=='hide')
		{
			obj.hide();
		}
		else
		{
			obj.show();
		}
	}
}
//排序
function toSort(id)
{
	if(id!='')
	{
		var va = $('#s'+id).val();
		var part = /^\d+$/i;
		if(va!='' && va!=undefined && part.test(va))
		{
			$.get("{url:/goods/category_sort}",{'id':id,'sort':va}, function(data)
			{
				if(data=='1')
				{
					tips('修改成功');
				}
			});
		}
	}
}
//设置分类
function setCat(catData)
{
	var parent_id = catData[0]['id'];
	var cat_id    = [];
	$('[name="cat_id[]"]:checked').each(function(i){
		cat_id.push($(this).val());
	});

	if(cat_id && cat_id.length == 0)
	{
		alert("请选择分类");
		return;
	}

	$.getJSON("{url:/goods/categoryAjax}",{"id":cat_id,"parent_id":parent_id},function(json)
	{
		if(json.result == 'success')
		{
			window.location.reload();
		}
		else
		{
			alert('更新失败，当前分类不能设置到其子分类下');
		}
	});
}
</script>